{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Новости</h1>
   <h3>{{ time_now|date:'d M Y' }}</h3>
<h3> Количество новостей {{ news|length }} </h3>
   <h3> {{ next_news|default_if_none:"Чуть позже сообщим о свежих новостях!" }} </h3>

   <hr>
    {% if news %}
       <table>
            <thead>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Превью
                </th>
            </thead>
            {% for post in news %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.header_post|truncatewords:3 }}</a>
                    <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>

                    <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
                </td>
            <td>
                {{ post.date|date:'d M Y' }}
            </td>
            <td>
                {{ post.text_post|truncatechars:50 }}
            </td>
        </tr>
            {% endfor %}
        </table>
    {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% if is_not_author %}
<button> <a href="sign/upgrade/"> Хочу Premium!</a> </button>
{% endif %}

<a href="{% url 'post_add' %}">Добавить новость или статью</a> <br>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}
