       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.header_post|truncatewords:3 }}</td>
               <td>{{ post.date|date:'d M Y' }}</td>
               <td>{{ post.text_post|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Автор
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Превью
        </th>
    </thead>
    {% for post in filter.qs %}
    <tr>
        <td>
            <a href="{% url 'post_detail' post.id %}">{{ post.header_post|truncatewords:3 }}</a>
        </td>
        <td>
            {{ post.author|title }}
        </td>
        <td>
            {{ post.date|date:'d M Y' }}
        </td>
        <td>
            {{ post.text_post|truncatechars:50 }}
        </td>
    </tr>
    {% endfor %}
</table>